@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,300&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

main{
    height: 100%;
}

header p{
    background-color:#1CD1B0;
    padding: 10px;
}

header h1{
    background-color: #00669F;
    padding: 20px;
    font-weight: 400;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.contenedor{
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
    text-align: center;
    position: relative;
}

.card{
    height: 500px;
    width: 300px;
    display: inline-block;
    background-color: #F3F3F3;
    position: relative;
    text-align: center;
    margin: 0px 10px;
    border-radius: 30px 30px 0px 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.foto{
    position: absolute;
    top: 120px;
    left: 90px;
    border-radius: 200px;
    box-shadow: 0px 4px 4px grey;
}

.icon{
    position: absolute;
    top: 5px;
    left: 10px;
}

.card-content{
    padding: 20px;
    margin-top: 30px;
}

.description{
    margin-top: 10px;
    text-align: left;
    color: #333333;
}

.boton{
    padding: 10px 40px;
    background-color: #00669F;
    margin-top: 30px;
    display: inline-block;
    color: white;
}

footer {
    background-color: #00669F;
    position: relative;
    padding: 20px;
    color:white;
}