@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Roboto:ital,wght@0,100;0,400;0,700;1,300&display=swap');
@import url("https://use.fontawesome.com/releases/v6.1.1/css/all.css");

body{
    font-family: 'Roboto', sans-serif;
}

.encabezado{
    background-color: #222222;
    color: white;
}

.idioma{
    text-align: right;
}

.menu{
    background-color: #F0A83E;
    color: white;
}

li{
    list-style-type: none;
}

.imagen-principal{
    background-image: url("../img/background.png");
    height: 400px;
    background-repeat: none;
    background-position: center;
    background-size: cover;
    text-align: right;
    color: #3C2313;
}

.titulo-imagen{
    text-align: right;
    background-color: white;
}

.boton {
    background-color: #F0A83E;
    color: white;
    line-height: 20px;
}

h2{
    color: #3C2313;
}

footer{
    background-color: #3C2313;
}

footer h2 {
    color: white;
}

footer h4{
    color: gray;
}

footer i{
    color: white;
}

footer p{
    background-color: #222222;
    color:white;
    text-align: center;
    font-weight: 700;
}